# On masque les config des modules npm (Tailwind...)
node_modules
package-lock.json
package.json
tailwind.config.js

# On masque les fichiers cachés et les images non nécessaires
.DS_Store
img/assets

# On masque les informations sensibles et les packages externes
/PHPMailer
config/emailconfig.php